/* Header section */
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.user-profile {
  height: 80px;
  border-radius: 999px;
  width: 200px;
}
