.cuf-container {
  border: solid 1px red;
  z-index: 999;
  position: absolute;
  top: 280px;
  left: 172px;
  padding: 16px;
  border-radius: 16px;
  width: 542px;
}

.cuf-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
